<p id="notice"><%= notice %></p>

<p>
  <strong>Result:</strong>
  <%= @result.result %>
</p>

<p>
  <strong>Student:</strong>
  <%= @result.student %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @result.evaluation %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
