<div class="container">
    <% if @course.id.blank? %>
        <h1 style="text-align: center;">Nuevo Curso</h1>
    <% else %>
        <h1 style="text-align: center;">Editando Curso "<%= @course.full_title %>"</h1>
    <% end %>
    <br>
    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
        <% if course.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(course.errors.count, "error") %>
                    prohibited this course from being saved:</h2>

                <ul>
                    <% course.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <%= bootstrap_form_for(@course) do |f| %>
        <%= f.number_field :year, id: :course_year, min: 2010, required: true %>
        <%= f.text_field :title, id: :course_title, required: true %>
        <div class="center-helper" style="width: 100%;">
            <%= f.submit "Submit", class: "button" %>
            <%= link_to "Volver a Cursadas", courses_path, class: "button btn-red" %>
        </div>
    <% end %>
</div>
</div>