<div class="container">
    <% if @exam.id.blank? %>
        <h1 style="text-align: center;">Nuevo Examen</h1>
    <% else %>
        <h1 style="text-align: center;"><%= "Editando Examen #{@exam.title}" %></h1>
    <% end %>
    <br>
    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
        <% if @exam.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@exam.errors.count, "error") %>
                    prohibited this exam from being saved:</h2>

                <ul>
                    <% @exam.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <%= bootstrap_form_for([@exam.course, @exam]) do |f| %>
        <%= f.text_field :title, :autofocus => true, required: true %>
        <%= f.date_select :date, discard_year: true, default: { year: @exam.course.year } %>
        <%= f.number_field :min, required: true, min: 0 %>
        <div class="center-helper" style="width: 100%;">
            <%= f.submit "Confirmar", class: "button" %>
            <%= link_to "Volver a Examenes", course_exams_path, class: "button btn-red" %>
        </div>
    <% end %>
</div>
</div>