<div class="container">
    <div class="row">
        <h1 style="text-align: center;"><%= "Examenes de #{@course.full_title}" %></h1>
        <br>
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Examenes</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <%= link_to "Nuevo Examen", new_course_exam_path, class: "button" %>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                            <tr>
                                <th>
                                    <em class="fa fa-cog"></em>
                                </th>
                                <th>Titulo</th>
                                <th>Fecha</th>
                                <th>Minimo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @exams.each do |exam| %>
                                <tr>
                                    <td align="center">
                                        <%= link_to '<em class="fa fa-pencil"></em>'.html_safe, edit_course_exam_path(exam.course, exam), class: "btn btn-default" %>
                                        <%= link_to '<em class="fa fa-trash"></em>'.html_safe, [exam.course, exam], data: { confirm: "Estas seguro de eliminar el examen #{exam.title}?" }, :method => :delete, class: "btn btn-danger" %>
                                    </td>
                                    <td><%= exam.title %></td>
                                    <td><%= exam.date %></td>
                                    <td><%= exam.min %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>

                </div>
            </div>
            <%= link_to "Volver a Cursadas", course_path(@course), class: "button btn-red" %>
        </div>
    </div>
</div>