<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "App" %></title>
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "App" %>">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
        <%= csrf_meta_tags %>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <%= render 'layouts/navigation' %>
        </header>
        <main role="main">
            <div class="container">
                <br>
                <%= render 'layouts/messages' %>
                <%= yield %>
            </div>
        </main>
    </body>
</html>